/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cc2323;
  padding: 12px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 3px 15px rgba(0,0,0,0.2);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo span {
  font-size: 1.4em;
  font-weight: 700;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1.1em;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffe5e5;
  transform: translateY(-2px);
}

/* HERO SECTION */
.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
              url("cm.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.hero-content {
  text-align: center;
  color: white;
  animation: fadeIn 1.5s ease-in-out;
}

.hero h1 {
  font-size: 3.2em;
  font-weight: 700;
}

.hero h1 span {
  color: #ffcece;
}

.hero p {
  margin-top: 10px;
  font-size: 1.3em;
  color: #ffdede;
}

.btn {
  margin-top: 25px;
  background-color: #ff3b3b;
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}

.btn:hover {
  background-color: #b80000;
  transform: scale(1.05);
}

/* ANIMASI */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}
